body {
    font-family: sans-serif;
    background-color: #F4F6FF;
}

.header {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar {
    background-color: #ffff;
    padding: 0;
}

.navbar .navbar-nav {
    display: flex;
    flex-wrap: nowrap;
}

.navbar .navbar-nav .nav-item {
    display: flex;
    align-items: center;
}

.navbar-nav .nav-item .nav-link {
    display: flex;
    background-color: transparent;
    flex-direction: column;
    justify-content: center;
    position: relative;
    text-align: center;
    min-height: 52px;
    min-width: 80px;
}

.navbar .title-nav {
    font-size: 12px;
}

.navbar-nav .nav-link.active {
    border-bottom: 2px solid #000;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    margin-top: 10px;
    left: auto;
    max-height: calc(100vh - 64px);
    overflow-y: auto;
    padding: 0;
    right: 0;
    width: 288px;
    border-radius: 10px 0 10px 10px;
}

.dropdown-menu .dropdown-menu-sub .menu-sub .menu-sub-link a {
    text-decoration: none;
    font-size: 14px;
    color: #4C585B;
}

.dropdown-menu .dropdown-menu-sub .menu-sub .menu-sub-link a:hover {
    text-decoration: underline;
}

.navbar-mobile {
    display: none;
}

.messages-btn {
    display: none;
}

.a {
    text-decoration: none;
}

.main-content {
    padding-top: 15px;
}

.reposts {
    display: flex;
}

.filter {
    display: flex;
}

.sub-ads {
    position: sticky;
    top: 10%;
}

@media screen and (max-width: 768px) {
    .navbar {
        padding: 3px;
    }

    .messages-btn {
        display: block;
    }

    .navbar-mobile {
        position: fixed;
        display: flex;
        bottom: 0;
        width: 100%;
        background-color: #ffff;
        z-index: 1000;
    }

    .profile {
        display: none;
    }

    .alert {
        display: none;
    }

    .post {
        display: none;
    }

    .main-content {
        padding: 0;
    }

    .filter {
        display: none;
    }

    .post-content {
        padding: 0;
    }

    .sidebar-kanan {
        display: none;
    }

    .reposts {
        display: none;
    }

    .navbar .title-nav {
        font-size: 10px;
    }
}